canvas{
  background-color: black;
    margin: 10px 19% auto;
    border: 10px solid red;
    padding: 2px;
}

body{
  background: url("http://orig15.deviantart.net/79b8/f/2013/110/d/b/hex_grid_green_by_metatality-d62eip6.png");
  background-size: cover;
}

h1{
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 100px;
  word-spacing: 50%;
  margin: 15px 0;
}

